.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Scada Bold";
  font-size: 1.25rem;
  border-radius: 50px;
  border: 1px solid #FFFFFF;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  box-sizing: border-box;
  text-transform: uppercase;
  width: 277px;
  height: 60px;

  &--hover {
    background: #89C443;
    color: #FFFFFF;
  }
}

@media only screen and (min-width : 1024px) and (max-width : 1559px) {

  .button {
    font-size: 1.15rem;
    width: 250px;

    a {
      padding-top: 1px;
    }
  }

}