@font-face {
  font-family: "Scada Bold";
  src: url("/fonts/Scada-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Scada Regular";
  src: url("/fonts/Scada-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Scada BoldItalic";
  src: url("/fonts/Scada-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Scada Italic";
  src: url("/fonts/Scada-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("/fonts/RobotoCondensed-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("/fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Light";
  src: url("/fonts/Roboto-Light.ttf") format("truetype");
}
